html,
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
.icons {
  height: 25px;
}

.container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(150px, 1fr);

  .dashboard {
    background-color: #1992d4;
    grid-column: 1/2;
    grid-row: 1/5;
  }

  .dashboard {
    color: white;
    display: flex;
    flex-direction: column;
    gap: 50px;
    padding: 20px;

    .logo {
      display: flex;
      align-items: center;
      gap: 15px;

      .logo-icon {
        height: 50px;
      }
    }

    .user-data {
      display: flex;
      flex-direction: column;
      gap: 15px;
    }

    .user-settings {
      display: flex;
      flex-direction: column;
      gap: 15px;
    }
    .user-data-div {
      display: flex;
      align-items: center;
      gap: 15px;
      a {
        text-decoration: none;
        color: white;
      }
    }

    .dash-icons {
      height: 20px;
    }
  }

  .header {
    background-color: white;
    grid-column: 2/5;
    grid-row: 1/2;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    gap: 20px;

    .top {
      display: flex;
      justify-content: space-between;
      gap: 100px;

      .search {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 15px;

        input {
          width: 40em;
          border-radius: 15px;
          outline: none;
          border: none;
          background-color: #e2e8f0;
          padding: 5px;
          font-size: 15px;
        }
      }

      .user-info {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 25px;

        img {
          width: 40px;
        }
      }
    }

    .bottom {
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: 200px;

      .user-profile {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 20px;

        img {
          width: 80px;
        }
      }
      .buttons {
        display: flex;
        gap: 25px;
        button {
          width: 80px;
          padding: 7px;
          border-radius: 15px;
          border: none;
          background-color: #1992d4;
          color: white;
          cursor: pointer;
        }
      }
    }
  }

  .main {
    background-color: #e2e8f0;
    padding: 20px;
    grid-column: 2/5;
    grid-row: 2/5;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    /* grid-template-rows: 1fr; */
    gap: 25px;

    .projects {
      grid-column: 1/3;
      grid-row: 1/4;
      border-radius: 5px;
      display: flex;
      flex-direction: column;
      gap: 15px;

      .project-tiles {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
        grid-template-rows: repeat(auto-fit, minmax(200px, 1fr));
        gap: 20px;
      }

      .project {
        height: 200px;
        width: 300px;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        padding: 20px 20px;
        border-radius: 10px;
        background-color: white;
        border-left: 5px solid #ffc107;

        /* p {
          overflow: hidden;
          white-space: nowrap;
          text-overflow: ellipsis;
        } */
      }
    }

    .announcements {
      border-radius: 5px;
      display: flex;
      flex-direction: column;
      gap: 15px;
      .announce-tiles {
        background-color: white;
        border-radius: 10px;
        padding: 5px 25px;
        padding-bottom: 15px;
      }

      .announce {
        padding: 15px;
        border-bottom: 1px solid black;
      }
    }

    .trending {
      display: flex;
      flex-direction: column;
      gap: 15px;
      .trending-tiles {
        background-color: white;
        border-radius: 10px;
        padding: 25px 25px;
        padding-bottom: 15px;
        display: flex;
        flex-direction: column;
        gap: 10px;

        .logo {
          display: flex;
          align-items: center;
          gap: 10px;

          img {
            height: 35px;
          }
        }
      }
    }
  }
}
